:root {
  --primary-color: #4caf50;
  --primary-color-dark: #388e3c;
  --secondary-color: #ff4081;
  --text-color: #333;
  --background-color: #f9f9f9;
}

body.light {
  background-color: #fff;
  color: #333;
}

body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

/* Можно добавить к кнопкам, тексту и другим элементам */
body.dark .course-card__description,
body.dark .teacher-card {
  background-color: #1e1e1e;
  color: #f5f5f5;
}